* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: hsl(234, 29%, 20%);
}

.container {
    /* Para que diseño abarque toda la pantalla del dispositivo */
    width: 100vw;
    height: 100vh;
}

#section-1 {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;
}

#section-2 {
    background-color: white;
    border-radius: 1rem;

    padding: 2rem;
    height:auto;

    span {
        font-weight: 700;
    }
}

.image-container img {
    width: 100%;
    height: 100%;
}

.image-container-2 img {
    margin-top: 15%;
    width: 20%;
    height: 20%;
}

ul {
    margin-left: 1.8rem;
    list-style-image: url('../assets/images/icon-list.svg');
}

#email{
    padding: 1rem;
    border-radius: 0.5rem;
    height: 2.5rem;
    border-color: hsl(231, 7%, 60%);
}

label {
    font-size: 0.7rem;
    font-weight: 700;
}

.last {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

h1 {
    font-weight: 700;
    font-size: 2.2rem;
}

/* Section-2 */
.text-container {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.thanks {
    padding-top: 15%;
    padding-bottom: 5%
}

#dismiss {
    margin-top:40%;
    height: 3.1rem;
}

/* Botón */
.degrade{
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: hsl(234, 29%, 20%);
    color:white;
    font-weight: 700;
}

.degrade:hover {
    background-image: linear-gradient(to right, hsl(347, 100%, 63%), hsl(12, 100%, 63%));
    border-color: hsl(347, 100%, 63%);
    box-shadow: 0px 14px 18px hsla(347, 100%, 63%, 0.5);
}

/* Error */
.wrong {
    color: hsl(4, 100%, 67%);
    background-color:  hsl(5, 100%, 95%);
    border-color:hsl(4, 100%, 67%);
}

.wrong-message {
    color: hsl(4, 100%, 67%);
    font-weight: 700;
}

/* 768px 1024px */
@media (min-width: 768px) and (max-width: 1024px), (min-height: 768px) {

    * {
        font-size: 1.38rem;
    }
    
    #section-1 {
        padding: 2.1rem;
        gap: 2.1rem;
    }
    
    .image-container img {
        width: 100%;
        height: 100%;
    }

    #email{
        padding: 1.1rem;
        border-radius: 1.1rem;
        height: 3.4rem;
    }

    ul {
        margin-left: 1.3rem;
    }

    label {
        font-size: 1.1rem;
    }
    
    #change{
        height: 3.4rem;
        border-radius: 1.2rem;
    }
    
    .last {
        gap: 0.9rem;
    }
    
    h1 {
        font-weight: 700;
        font-size: 3.5rem;
    }

    li {
        margin-bottom: 1rem;
    }
}

/* +1024px */
@media (min-width: 1025px), (min-height: 1025px) {
 
    * {
        font-size: 1.2rem;
    }

    body {
        background-color: hsl(234, 29%, 20%);
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .white-container {
        display: flex;
        flex-direction: row-reverse;
        padding: 2rem;
        background-color: white;
        box-shadow: 0px 14px 18px hsla(0, 0%, 0%, 0.5);
        border-radius: 2.2rem;
        height: 70%;
        width:auto;
    }

    .thanks {
        margin-top: 0;
        padding-top: 5%;
        padding-bottom: 0;
    }
    
    #section-1 {
        padding: 2.1rem;
        gap: 2.1rem;
        justify-content:center;
    }

    #section-2 {
        border-radius: 3rem;
        padding: 3.5rem;
        height: 35rem;
        width: 35rem;
    }

    .text-container {
        gap: 2.5rem;
    }

    #dismiss {
        margin-top:0;
        height: 3.7rem;
        border-radius: 0.8rem;
    }

    .image-container-2 img {
        margin:0;
    }

    .image-container img {
        width: auto;
        height: 100%;
        border-radius: 2rem;
        margin-left: 1.5rem;
    }

    #email{
        padding: 1.1rem;
        border-radius: 0.8rem;
        height: 3.9rem;
    }
    
    label {
        font-size: 1.1rem;
    }
    
    #change{
        height: 3.9rem;
        border-radius: 0.8rem;
    }
    
    .last {
        gap: 0.9rem;
    }
    
    h1 {
        font-weight: 700;
        font-size: 3.3rem;
    }

    li {
        margin-bottom: 1rem;
    }
}